/*
1. Your headers should be changed to your favorite color and set to a sans-serif font. (Notice they are not all the same tag!)
 */

.subjectHeader {
  color: blue;
  font-family: sans-serif;
}

/*
2. Your table should have bold/colored table headers, as well as a table border. Content should be centered in their respective blocks.
 */


caption {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  font-weight: bold;
  color: green;
}

th {
  font-weight: bold;
  color: green;
}

#scoreBoard {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  text-align: center;
  padding: 10px;
}


/*
3. Your list should have square list bullets.
 */

ul {
  list-style-type: square;
}


/*
4. When the user hovers over a hyperlink the background color of the hyperlink should change and it should not be underlined.
 */

 a:hover {
  background-color: yellow;
  text-decoration: none;
}

/*
5. Set the background color of the block quote text (second paragraph) to a dark color and the font color to a contrasting light color.
 */

blockquote {
  color: yellow;
  background-color: #92a8d1;
  padding: 10px;
}


/*
6. Make each team's image the background image for the list. Hint Check out the element > element and :first-child / :last-child selectors. Remove the image from above the team's list.
 */

 img[alt="Broncos Logo"] {
 	display: none;
 	}

  img[alt="Bears Logo"] {
   display: none;
   }






        background: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg") top left no-repeat;



/*
7. The checkbox list should not be bulleted.
 */

#checkbox-grid {
  list-style: none
}
